#article {
   
   background-image: url("/tradFast/images/pasta-green-pesto-spinach-pine-600w-1897568725.webp");
    background-repeat: no-repeat;
     background-size: cover;


}

ul  {
    color: rgb(16, 216, 9);
    float: left;
}
#restau{
    background-color: goldenrod ;
    
}
#voirestau{
    background-image: url("/tradFast/images/halflighted-hall-loft-style-mexican-600w-430097278.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

#inscriptionR, #inscriptionC, #signInClient, #signInrestau{
    
    margin-top: 2rem;
  
}

.signIn{
    background-color: rgb(228, 206, 142) ;
    

}
header#header {
   
   background-color: rgb(71, 69, 69);
}
.id_plat{
    color:green;
}

#mesClients, #monMenu{

    overflow-y: auto;
    height: 20rem ;
}

#mesCommandes{

    overflow-y: auto;
    height: 20rem ;
}
.logo{
    color:  rgb(127, 255, 8); 
    font-size:3rem; 
    margin-right:8rem;
}

@media screen and (max-width: 600px) and (min-width: 400px){
    .type_de_cuisine{
        display: none;
    }
     .search_input{
         width: 7rem;
         margin-right: 1rem;
         height: 2rem; 
     }
     .search_button{
        height: 2rem;
     }

     .logo{
        color:  rgb(127, 255, 8); 
        font-size:1.5rem; 
        margin-right:1rem;
    }
    
   
     
  }