body  {
   
    background-image: url("/tradFast/images/pasta-green-pesto-spinach-pine-600w-1897568725.webp");
    background-repeat: no-repeat;
     background-size: cover;


}

ul  {
    color: rgb(16, 216, 9);
    float: left;
}