#article {
   
   background-image: url("/trad/asset/images/pasta-green-pesto-spinach-pine-600w-1897568725.webp");
    background-repeat: no-repeat;
     background-size: cover;

}

ul  {
    color: rgb(16, 216, 9);
    float: left;
}
#restau{
    background-color: goldenrod ;
    
}
#voirestau{
    background-image: url("/trad/asset/images/halflighted-hall-loft-style-mexican-600w-430097278.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

#inscriptionR, #inscriptionC, #signInClient, #signInrestau{
    
    margin-top: 2rem;
  
}

.signIn{
    background-color: rgb(228, 206, 142) ;    

}
header#header {
   
   background-color: rgb(71, 69, 69);
}
.id_plat{
    color:green;
}

#mesClients, #monMenu{

    overflow-y: auto;
    height: 20rem ;
}

#mesCommandes{

    overflow-y: auto;
    height: 20rem ;
}

.signInRest{
    background-image: url("/trad/asset/images/retro-vintage-insignia-logotype-label-600w-247152196.webp");
    background-repeat: no-repeat;
     background-size: cover; 

}
.signInClient{
    background-image: url("/trad/asset/images/hungry-man-thinking-what-he-600w-1771754309.webp");
    background-repeat: no-repeat;
     background-size: cover; 

}